---
title: Analisar resultados de teste do AEM Cloud Manager
description: Explore e corrija os resultados dos relatórios do AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 342
source-git-commit: f4c621f3a9caa8c2c64b8323312343fe421a5aee
workflow-type: tm+mt
source-wordcount: '72'
ht-degree: 45%

---

# Análise dos resultados do teste {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Análise dos resultados do teste"
>abstract="Explore quaisquer erros de compilação em seu código e se esse código segue ou não as práticas recomendadas do AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=pt-BR#how-to-use" text="Entender os resultados de teste"

Explore quaisquer erros de compilação no código e se esse código segue ou não as práticas recomendadas para o AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/345723?quality=12&learn=on&captions=por_br)
