---
title: Analisar os resultados de teste do AEM Cloud Manager
description: Explore e corrija os resultados dos relatórios do AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: b3e9251bdb18a008be95c1fa9e5c79252a74fc98
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 4%

---

# Analisar resultados de teste {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analisar resultados de teste"
>abstract="Explore quaisquer erros de compilação em seu código e se esse código segue ou não as práticas recomendadas para AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Entender os resultados de teste"

Explore quaisquer erros de compilação em seu código e se esse código segue ou não as práticas recomendadas para AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
