---
title: 'Analisar os resultados de teste do AEM Cloud Manager '
description: Explore e corrija os resultados dos relatórios do AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Desenvolvimento
feature: Ferramentas do desenvolvedor
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '84'
ht-degree: 8%

---


# Analisar resultados de teste

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analisar resultados de teste"
>abstract="Explore quaisquer erros de compilação em seu código e se esse código segue ou não as práticas recomendadas do AEM como Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Entender os resultados de teste"

Explore quaisquer erros de compilação em seu código e se esse código segue ou não as práticas recomendadas do AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
