---
title: 'Analisar os resultados do teste do AEM Cloud Manager '
description: Explore e corrija os resultados dos relatórios do AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# Analisar os resultados do teste

Explore quaisquer erros de compilação no código e se este código segue ou não as práticas recomendadas para AEM como Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)